<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" xml:lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>R&eacute;seau Interuniversitaire des Grands Lacs</title>
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="all"/>
</head>
<body class="page_sommaire">
  <div id="page">
    <div id="entete">
	    <!-- Debut du menu horizontal -->
	    <div style="float:left;display:block;width:200px;border:solid 0px #000;margin:0px 15px 0px 40px;">
        <a title="Accueil du site" href="http://www.bi.refer.org/rigl">
          <img class='spip_logos' alt="" src="/static/images/siteon0.png" width='200' height='115' style='height:115px;width:200px;' />
        </a>
      </div>    	

      <div style="float:left;display:block;width:500px;height:25px;border:solid 0px #000;margin:40px 0px 0px 0px;">
        <span class="titreSite">Réseau Interuniversitaire des Grands Lacs</span>
      </div>
	    <div style="float:right;display:block;width:200px;border:solid 0px #000;">
    	  <div id='topmenu'>
		      <ul>
            <li id='item1'><a title='Accueil' href="http://www.bi.refer.org/rigl">Accueil</a> |</li>	
            <li id='item2'><a href="http://www.bi.refer.org/rigl/spip.php?page=backend" rel="alternate" title="Syndiquer tout le site">Flux RSS</a> |</li> 
  	        <li id="item3"><a href="#" title="The english version will be available shortly"><strong>English</strong></a></li>
	    	  </ul>
	      </div>
	    </div>
    </div>

    <div class="hfeed" id="conteneur">
      <div id="contenu">
        <h1>Erreur 500</h1>

        <h2>Une erreur s'est produite dans l'application.</h2>
        <p>L'ARI a été averti par courriel de ce problème.</p>
        <p>Merci.</p>
      </div><!-- #contenu -->
    </div><!-- #conteneur -->

    <div id="pied">&copy; RIGL 2011 | <img src="/static/images/feed.png" alt="Suivre la vie du site" width="16" height="16" /><a href="http://www.bi.refer.org/rigl/spip.php?page=backend" rel="alternate" title="Syndiquer tout le site"> Flux RSS 2.0</a> | <a href="mailto:info@bi.refer.org">Nous contacter</a>

    </div>
  </div><!-- #page -->
</body>
</html>
