{% extends "base.html" %}

{% block main %}

<h1>Bienvenue sur la page de démonstration de la charte graphique de l'AUF<h1>

<h2>Exemple<h2>

<h3>L’AUF en bref</h3>
<p>L’Agence universitaire de la Francophonie (AUF) est présente sur tous les continents, avec plus de 427 agents répartis dans 65 implantations rattachées à neuf bureaux.</p>

<p>Depuis 1989, cette association d’universités est un opérateur de la Francophonie institutionnelle. Partenaire des établissements d’enseignement supérieur et de recherche qui ont choisi le français comme langue d’enseignement, elle propose plusieurs programmes de coopération visant notamment à soutenir la recherche et l’enseignement en français.</p>

<p>Chaque année, elle distribue plus de 2 000 bourses dans le cadre de son <a href="#">programme de mobilités</a>. Elle dispose d’un budget annuel de plus de 40 millions d’euros grâce à l’intervention des gouvernements, en premier lieu la France, mais aussi le Canada, le Canada-Québec, la Communauté française de Belgique, la Suisse et le Cameroun, sans oublier beaucoup d’autres États du Sud qui soutiennent leurs universités et mettent à notre disposition des locaux et du personnel.</p>

<p>Depuis 2000, l’Agence a connu une période de développement sans précédent, marquée par une consolidation de son budget et une progression de 50 % du nombre d’établissements membres. L’AUF fédère aujourd’hui un réseau de 774 établissements répartis sur tous les continents, dans 90 pays, dont 55 sont membres de l’Organisation internationale de la Francophonie.<p>
<p>La France, le Vietnam, l’Algérie et le Canada sont respectivement les pays dans lesquels l’Agence compte le plus grand nombre de membres.</p>

<p>Le développement de l’AUF témoigne de sa notoriété au sein des milieux universitaires, mais aussi de l’attrait du français, comme langue de formation et de culture, sur la scène internationale.<p>

<p>L’Agence, dont le siège est établi sur le campus de l’Université de Montréal (Canada-Québec), a vocation à contribuer à la construction et à la consolidation d’un espace scientifique en français en :</p>

<ul>
    <li>favorisant la coopération scientifique ;</li>
    <li>formant des futurs acteurs du développement ;</li>
    <li>soutenant la recherche et l’excellence ;</li>
    <li>partageant l’expertise.</li>
</ul>

<h2>Les titres</h2>

<h1>Titre h1</h1>
<h2>Titre h2</h2>
<h3>Titre h3</h4>
<h4>Titre h4</h4>


<h2>Les listes</h2>

<ul>
    <li>Un</li>
    <li>Deux</li>
    <li>Trois</li>
</ul>

<ol>
    <li>Un</li>
    <li>Deux</li>
    <li>Trois</li>
</ol>

<h2>Les tableaux</h2>

<table>
    <tbody>
        <tr><th><label>Titre 1:</label></th><td><input type="text" ></td></tr>
        <tr><th><label>Titre 2:</label></th><td><input type="text" ></td></tr>
    </tbody>
</table>

<table>
    <tbody>
        <tr><th>Titre 1</th><th>Titre 2</th></tr>
        <tr class="row1"><td>ligne 1</td><td>ligne 1</td></tr>
        <tr class="row2"><td>ligne 2</td><td>ligne 2</td></tr>
        <tr class="row1"><td>ligne 3</td><td>ligne 3</td></tr>
        <tr class="row2"><td>ligne 4</td><td>ligne 4</td></tr>
    </tbody>
</table>

{% endblock %}
