<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr-ca" xml:lang="fr-ca" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Erreur 500</title>
    <link rel="icon" type="image/png" href="/static/skin/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/skin/css/auf.css" media="all"/>
  </head>

  <body class="">
    <div id="header">
      <div id="logo">
        <img src="/static/skin/images/logo_auf.gif" alt="AUF"/>
        <h1>Cette page est indisponible</h1>
        <h2>Erreur 500</h2>
      </div>
    </div>

    <div id="menu">
    <ul class="menu">
      <li class=""><a href="/">Accueil</a></li>
    </ul>
    </div>

    <div class="visualClear"></div>
    <div id="main">
        <h1>Erreur 500</h1>
        <h2>Une erreur s'est produite dans l'application.</h2>
        <p>L'ARI a été averti par courriel de ce problème.</p>
        <p>Merci.</p>


    </div>

    <div id="footer">

        © AUF - Tous droits réservés

    </div>

</body>
</html>

